body{
  background-color: black;
}

.vespa{
  position: relative;
  top: 6vh;
  left: 10vw;
  z-index: -1;
  height: 650px;
  width: auto;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: -15px 0 25px rgba(221, 199, 55, 0.2), 0 15px 25px rgba(221, 199, 55, 0.2); 
}

.form{
  position: relative;
  top: -83.5vh;
  left: 37vw;
  width: 45vw;
  box-shadow: 15px 15px 25px rgba(221, 199, 55, 0.2);
  height: 86.1vh;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  text-align: center;
}




.form-control{
  position: relative;
  margin: 50px;
  width: 190px;
}

.form-control input[type="password"]{
  margin-bottom: 80px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: #FFD700;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: #FFD700;
  transform: translateY(-30px);
}

p{
  position: absolute;
  top: 70vh;
  left: 16vw;
  color: white;
 
}

a{
  text-decoration: none;
  color: rgba(174, 155, 30);
}

a:hover{
  color: #FFD700;
}



button {
  --yellow: #FFD700;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--yellow);
  background: linear-gradient(to right, rgba(255, 215, 0, 0.1) 1%, transparent 40%,transparent 60% , rgba(255, 215, 0, 0.1) 100%); 
  color: var(--yellow);
  box-shadow: inset 0 0 10px rgba(255, 215, 0, 0.4), 0 0 9px 3px rgba(255, 215, 0, 0.1);
  top: -35px;
}

button:hover {
  color: #b9af53;
  box-shadow: inset 0 0 10px rgba(255, 215, 0, 0.6), 0 0 9px 3px rgba(255, 215, 0, 0.2);
}

button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(255, 215, 0, 0.1) 40%,rgba(255, 215, 0, 0.1) 60% , transparent 100%);
}


button:hover:before {
  transform: translateX(15em);
}